.card_container {
    display: block;
    width: 200px;
    height: 200px;
}

.card {
    cursor: pointer;
    height: 200px;
    border-radius: 10px;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}

.title-memoria {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 50px;
    color: #009d4d
}

/* .col-md-4 {
    height: 200px;
    position: relative;
    display: block;
    overflow: hidden;
} */

.front {
    position: absolute;
    display: block;
    background-color: #9AD4DF;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
}

.texto {
    text-transform: uppercase;
    font-weight: bold;
}

.align-center-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 200px;
}

.header {
    background: url('./img/background.jpg');
    background-position: center;
    background-size: cover;

    height: 200px;
    width: 100%;
}

.acertou {
    border: 2px solid green;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

.texto {
    margin: 0;
    text-align: center;
}

.remove_front {
    background-color: transparent;
}

.memoria {
    background: #ab4;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    /* z-index: -1; */
}

.scene-3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    -webkit-transition: display .5s;
    -o-transition: display .5s;
    transition: display .5s;
}

.scene-3-background {
    width: 100%;
    height: 100vh;
    background: #009d4d;
    opacity: 0.8;
}

.background-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.scene-3-text {
    background: white;
    width: 100%;
    text-align: center;
    padding: 2em;
    z-index: 2;
}

.scene-3-text h2 {
    font-size: 40px;
}

.jogar-novamente {
    margin-top: 10px;
    border: 1px solid #009d4d;
    padding: 5px 2em;
    text-transform: uppercase;
}